/* KLEUREN */

:root {
    --witfont: rgb(255, 255, 255);
    --schaduwnav: rgba(0, 0, 0, 0.568);

    --roodhomepagina: rgb(255, 0, 0, 0.70);
    --roodhomepaginahover: rgb(255, 0, 0);

    --oranjehomepagina: rgb(244, 70, 17, 0.75);
    --oranjehomepaginahover: rgb(244, 70, 17);

    --geelhomepagina: rgb(255, 255, 0, 0.70);
    --geelhomepaginahover: rgb(255, 255, 0);

    --groenhomepagina: rgb(0, 255, 0, 0.65);
    --groenhomepaginahover: rgb(0, 255, 0);

    --blauwhomepagina: rgba(0, 0, 255, 0.753);
    --blauwhomepaginahover: rgb(0, 0, 255);

    --indigohomepagina: rgba(111, 0, 255, 0.80);
    --indigohomepaginahover: rgb(111, 0, 255);

    --violethomepagina: rgba(157, 0, 255, 0.80);
    --violethomepaginahover: rgb(157, 0, 255);

    --achterextranav: rgba(255, 255, 255, 0.418);

    --footer: rgba(101, 101, 101, 76);

    --achterlogo: rgba(112, 112, 112, 0.637);

    --achtercontact: rgba(112, 112, 112, 0.418);

}



* {
    padding: 0;
    margin: 0
}

body {
    font-family: sans-serif
}


li {
    list-style: none;
}



/* MAIN */

main {
    background-image: url("../img/meisje.jpg");
    height: 97vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;


}

/* NAVIGATIE */

.nav {
    width: 35vw;
    font-family: "Marvelous Sans Demo";
    text-align: center;
    line-height: 80px;

}

.nav>ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav_home,
.nav_inschrijven,
.nav_onzeschool,
.nav_kleuterklas,
.nav_lagereschool,
.nav_activiteiten,
.nav_contact {
    height: 11.69vh;
    text-shadow: 1px 1px 50px black;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px
}

.nav_home {
    background: var(--roodhomepagina);
    color: var(--witfont);


}

.nav_inschrijven {
    background: var(--oranjehomepagina);
    color: var(--witfont);
}

.nav_onzeschool {
    background: var(--geelhomepagina);
    color: var(--witfont);
}

.nav_kleuterklas {
    background: var(--groenhomepagina);
    color: var(--witfont);
}

.nav_lagereschool {
    background: var(--blauwhomepagina);
    color: var(--witfont);
}

.nav_activiteiten {
    background: var(--indigohomepagina);
    color: var(--witfont);
}

.nav_contact {
    background: var(--violethomepagina);
    color: var(--witfont);
}


.nav_home,
.nav_inschrijven,
.nav_onzeschool,
.nav_kleuterklas,
.nav_lagereschool,
.nav_activiteiten,
.nav_contact {
    display: block;
    font-size: 4vh;
    font-weight: 700;
    color: var(--witfont);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
}

.nav_home:hover {
    background: var(--roodhomepaginahover);
    box-shadow: -2px 10px 10px var(--schaduwnav);
    width: 45vw;
    font-size: 7vh
}

.nav_inschrijven:hover {
    background: var(--oranjehomepaginahover);
    box-shadow: -2px 10px 10px var(--schaduwnav);
    width: 45vw;
    font-size: 7vh
}

.nav_onzeschool:hover {
    background: var(--geelhomepaginahover);
    box-shadow: -2px 10px 10px var(--schaduwnav);
    width: 45vw;
    font-size: 7vh
}

.nav_kleuterklas:hover {
    background: var(--groenhomepaginahover);
    box-shadow: -2px 10px 10px var(--schaduwnav);
    width: 45vw;
    font-size: 7vh
}

.nav_lagereschool:hover {
    background: var(--blauwhomepaginahover);
    box-shadow: -2px 10px 10px var(--schaduwnav);
    width: 45vw;
    font-size: 7vh
}

.nav_activiteiten:hover {
    background: var(--indigohomepaginahover);
    box-shadow: -2px 10px 10px var(--schaduwnav);
    width: 41vw;
    font-size: 7vh
}

.nav_contact:hover {
    background: var(--violethomepaginahover);
    box-shadow: -2px 10px 10px var(--schaduwnav);
    width: 41vw;
    font-size: 7vh
}

/* EINDE NAVIGATIE */


/* LOGO */

.logo {
    width: 30vw;
    height: 15vh;
    position: absolute;
    right: 0vh;
    object-position: center;

}

.logo_head {
    position: absolute;

    height: 20vh;
    width: 30vw;
    background-color: var(--achterlogo);
    border-bottom-left-radius: 4vh;
    margin-right: 0vh;
    padding-left: 2vh;
    padding-top: 2vh;
    box-shadow: 1px 1px 5px var(--schaduwnav);
    margin-bottom: 
}

.regenboog {
    object-fit: scale-down;
    min-width: 30%;
    max-width: 80%;
    height: 10vh auto;

}


.logo {
    

}

.logo_body {

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    right: 0vh;
    width: ;
    background-color:var(--achtercontact);
    margin-top: 16vh;
    
    border-bottom-left-radius: 4vh; 
    margin-right: 0vh;
}

.logo_fb,
.logo_mail,
.logo_gsm {

    width: 4vw;
    margin-top: 4vh;
    margin-bottom: 2vh;
    right
}

img {}


/* EXTRANAVIGATIE */

.extranavigatie {}

.nav_menu,
.nav_ouderraad {
    display: block;
    position: absolute;
    right: 2px;
    margin-top:20vh;
    


}

.nav_menu {
    background-color: var(--achterextranav);
    padding:1vh;
    border-radius: 100%;
    width: 15vh;
    bottom: 15vh;
    right: 5vh;
    


}

.nav_ouderraad {
    background-color: var(--achterextranav);
    padding: 1vh;
    border-radius: 100%;
    width: 15vh;
    bottom: 5vh; 
    right: 5vh
}






/* FOOTER */


footer {
    font-family: "Microsoft Yi Baiti";
    font-size: 15px;
    color: var(--witfont);
    text-align: center;
    background-color: var(--footer)
}

/* EINDE FOOTER*/